.spacer{
	margin-top: 10px;

}
.best{
	color:#58a61e;
}
.a1{
	background-color: #aabbcc;
	border: 1px solid;
	padding: 10px;
}
.a2{
	/*background-color: #2541b5;
	border: 1px solid;
}
